/* Events.css */


.add-event-btn {
  text-align: right; 
  margin-right: 20px; /* Facultatif: ajoute un espace à droite */
  margin-top: 40px; /* Ajoute de l'espace en haut pour le descendre */

  margin-bottom: 50px;
  

}

.add-event-btn .btn {
  margin-left: auto; /* Aligne le bouton à droite si le conteneur est en flex */
}
.add-event-btn button {
  background-color: hwb(300 97% 2%);
  border-color: hwb(261 16% 2%);
  color: rgb(243, 18, 213);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-event-btn button:hover {
  background-color: rgb(243, 144, 218);;
  border-color: #0056b3;
}
/* Changer la couleur de la croix en rouge */
.modal-header .btn-close {
  filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(91%) contrast(101%);
  opacity: 1; 
}


























/*
.events-page {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.events-navbar {
  background-color: white; 
  border: 2px solid #007bff; 
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px; 

/*
.events-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.events-navbar ul li {
  margin: 0 10px;
}

.events-navbar a {
  color: #007bff; /* Blue text for links */
 /* 
  text-decoration: none;
  font-weight: bold;
}

.events-navbar a:hover {
  text-decoration: underline; /* Optional: Underline on hover */

/*
.events-navbar button {
  background-color: #e83e8c; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.events-navbar button:hover {
  background-color: #d63384; 
}

.events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 10px; 
  max-width: 1200px;
  margin: 0 auto;
}


.event-card {
  background-color: #f8f9fa; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.event-card p {
  color: #666;
}

.event-card img {
  max-width: 100%;
  margin-top: 10px;
}

.event-card button {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.event-card button:hover {
  background-color: #c82333; 
}
*/